.headerLine-detail {
    background-color: white;

    .slider-decorator-0 {
        line-height: 0.7rem;
        right: .35rem !important;
        width: initial !important;
        left: inherit !important;
        transform: translateX(0) !important;

        .am-carousel-wrap-dot {
            > span {
                background: #fff;
            }

            &.am-carousel-wrap-dot-active {
                > span {
                    background: #d23e3e;
                }
            }
        }
    }

    .headerLine-nav-header {
        width: 100%;
        height: 0.9rem;
        font-size: 0.3276rem;
        color: #fff;

        .threeModule {
            overflow: hidden;
            position: relative;
            border-radius: 4px;
            height: 0.5rem;
            line-height: 0.5rem;
            text-align: center;
            color: #fff;

            a {
                color: #fff;
                z-index: 10;
                display: inline-block;
                font-size: 0.328rem;
                width: 100%;
            }

            .a1 {
                color: #8bcbb0;
                border-right: 2px solid #dedede;
            }

            .a2 {
                color: #d23e3e;
            }

            .a3 {
                color: #faa614;
                border-left: 2px solid #dedede;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 4px;
                z-index: 0;
            }
        }

        .integral {
            background: url('../../../images/积分商城@2x.png') no-repeat;
            background-size: 100% 100%;
        }

        .signOn {
            background: url('../../../images/每日签到@2x.png') no-repeat;
            background-size: 100% 100%;
        }

        .cityWide {
            background: url('../../../images/同城活动@2x.png') no-repeat;
            background-size: 100% 100%;
        }
    }
}
