.change-loginname-wrap{
    padding: 0 0.2rem 0.2rem;
    .am-list-header{
        padding-left: 0;
    }
    .am-list-item.am-input-item:after{
        left: 0;
    }
    .am-list-item.am-input-disabled .am-input-label {
        color: #464646;
    }
}
