.mobile-pwd-wrap{
    .am-list-item.am-list-item-middle{
        .am-list-line{
            padding-left: .1rem;
            .right-icon{
                position: absolute;
                right: 0;
                height: 0.32rem;;
                top: 50%;
                margin-top: -0.16rem;
                width: auto;
            }
        }
    }
}
