* {
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a,
body {
    color: #464646;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: #f0f0f0 !important;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.t-3dot {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.twoline-ellipsis {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    background-color: #EFEFF4;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.tloaderDiv {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
    z-index: 10;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.tloader {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
    z-index: 10;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;

    .tloader-symbol {
        z-index: -1;
        height: 0.6rem !important;

        .tloader-loading,
        .tloader-msg {
            line-height: 0.6rem !important;
            font-size: 0.22rem;
            color: #464646;
        }
    }

    .tloader-footer .tloader-btn,
    .tloader-footer .tloader-loading {
        line-height: 0.6rem !important;
        font-size: 0.257rem !important;
        color: #464646;
    }

    .tloader-loading .ui-loading {
        font-size: 0.3276rem !important;
        margin-right: 0.06rem !important;
        border: 2px solid #464646;
        border-top-color: #fff;
    }

    &.state-refreshing {
        .tloader-body {
            -webkit-transform: translate3d(0, .6rem, 0) !important;
            -moz-transform: translate3d(0, .6rem, 0) !important;
            -ms-transform: translate3d(0, .6rem, 0) !important;
            transform: translate3d(0, .6rem, 0) !important;
        }

        &.headline .tloader-body {
            animation: touch-refreshed 0.4s;
        }
    }
}

.flex-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex_1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
@keyframes touch-refreshed {
    0% {
        -webkit-transform: translate3d(0, .6rem, 0);
        -moz-transform: translate3d(0, .6rem, 0);
        -ms-transform: translate3d(0, .6rem, 0);
        transform: translate3d(0, .6rem, 0);
    }

    50% {
        -webkit-transform: translate3d(0, .6rem, 0);
        -moz-transform: translate3d(0, .6rem, 0);
        -ms-transform: translate3d(0, .6rem, 0);
        transform: translate3d(0, .6rem, 0);
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.p-fixed {
    position: fixed;
}
@keyframes tloderRefresh {
    0% {
        -webkit-transform: translate3d(0, .6rem, 0);
        -moz-transform: translate3d(0, .6rem, 0);
        -ms-transform: translate3d(0, .6rem, 0);
        transform: translate3d(0, .6rem, 0);
    }

    50% {
        -webkit-transform: translate3d(0, .6rem, 0);
        -moz-transform: translate3d(0, .6rem, 0);
        -ms-transform: translate3d(0, .6rem, 0);
        transform: translate3d(0, .6rem, 0);
    }
}

.state-refreshed.tloader .tloader-body {
    animation: tloaderRefresh 0.4s;
}
// 防止有时候body里的内容无法显示

.tloader-body {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

:not(input):not(textarea):not([contenteditable]) {
    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    user-select: inherit;
}

.hidden {
    display: none !important;
}

.border-box {
    box-sizing: border-box;
}

.am-list-item {
    .am-input-control input,
    .am-input-label,
    .am-list-line .am-list-content {
        color: #464646;
    }
}

.forum-init-loading {
    background: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        width: 1.92rem;
        height: 1.92rem;
        top: 3.84rem;
        left: 50%;
        margin-left: -0.96rem;
    }
}
@keyframes loadingCircle {
    100% {
        transform: rotate(360deg);
    }
}

.global-loading-icon {
    background: url('../images/loading1.png') no-repeat;
    animation: loadingCircle 1.2s infinite linear;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-size: 0.4rem;
    vertical-align: middle;
    margin-right: 4px;
}

.normal-post-top,
.rich-list-content {
    .face {
        vertical-align: middle;
    }
}

.comment-item-cont,
.comment-list-item,
.like-list-item,
.normal-post-top,
.post-comment-item,
.rich-list-content {
    .face {
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        background-repeat: no-repeat;
        -webkit-background-size: 0.4rem auto;
        background-size: 0.4rem auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &.face_1 {
            background-image: url("../images/face-1.png");
        }

        &.face_2 {
            background-image: url("../images/face-2.png");
        }

        &.face_3 {
            background-image: url("../images/face-3.png");
        }

        &.face_4 {
            background-image: url("../images/face-4.png");
        }

        &.icon_0 {
            background-position: 50% 0;
        }

        &.icon_1 {
            background-position: 50% -0.4rem;
        }

        &.icon_2 {
            background-position: 50% -0.8rem;
        }

        &.icon_3 {
            background-position: 50% -1.2rem;
        }

        &.icon_4 {
            background-position: 50% -1.6rem;
        }

        &.icon_5 {
            background-position: 50% -2rem;
        }

        &.icon_6 {
            background-position: 50% -2.4rem;
        }

        &.icon_7 {
            background-position: 50% -2.8rem;
        }

        &.icon_8 {
            background-position: 50% -3.2rem;
        }

        &.icon_9 {
            background-position: 50% -3.6rem;
        }

        &.icon_10 {
            background-position: 50% -4rem;
        }

        &.icon_11 {
            background-position: 50% -4.4rem;
        }

        &.icon_12 {
            background-position: 50% -4.8rem;
        }

        &.icon_13 {
            background-position: 50% -5.2rem;
        }

        &.icon_14 {
            background-position: 50% -5.6rem;
        }

        &.icon_15 {
            background-position: 50% -6rem;
        }

        &.icon_16 {
            background-position: 50% -6.4rem;
        }

        &.icon_17 {
            background-position: 50% -6.8rem;
        }

        &.icon_18 {
            background-position: 50% -7.2rem;
        }

        &.icon_19 {
            background-position: 50% -7.6rem;
        }

        &.icon_20 {
            background-position: 50% -8rem;
        }

        &.icon_21 {
            background-position: 50% -8.4rem;
        }

        &.icon_22 {
            background-position: 50% -8.8rem;
        }

        &.icon_23 {
            background-position: 50% -9.2rem;
        }

        &.icon_24 {
            background-position: 50% -9.6rem;
        }

        &.icon_25 {
            background-position: 50% -10rem;
        }

        &.icon_26 {
            background-position: 50% -10.4rem;
        }

        &.icon_27 {
            background-position: 50% -10.8rem;
        }
    }
}

.goUserCenterSpan {
    color: #387ef5;
    padding-right: 0.06rem;
}
// 环信表情

.im-list-content {
    .face {
        display: inline-block;
        vertical-align: bottom;
        width: 0.4rem;
        height: 0.4rem;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: 0.4rem auto;
        background-size: 0.4rem auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &.icon_1 {
            background-image: url("../images/imFace/ee_1.png");
        }

        &.icon_2 {
            background-image: url("../images/imFace/ee_2.png");
        }

        &.icon_3 {
            background-image: url("../images/imFace/ee_3.png");
        }

        &.icon_4 {
            background-image: url("../images/imFace/ee_4.png");
        }

        &.icon_5 {
            background-image: url("../images/imFace/ee_5.png");
        }

        &.icon_6 {
            background-image: url("../images/imFace/ee_6.png");
        }

        &.icon_7 {
            background-image: url("../images/imFace/ee_7.png");
        }

        &.icon_8 {
            background-image: url("../images/imFace/ee_8.png");
        }

        &.icon_9 {
            background-image: url("../images/imFace/ee_9.png");
        }

        &.icon_10 {
            background-image: url("../images/imFace/ee_10.png");
        }

        &.icon_11 {
            background-image: url("../images/imFace/ee_11.png");
        }

        &.icon_12 {
            background-image: url("../images/imFace/ee_12.png");
        }

        &.icon_13 {
            background-image: url("../images/imFace/ee_13.png");
        }

        &.icon_14 {
            background-image: url("../images/imFace/ee_14.png");
        }

        &.icon_15 {
            background-image: url("../images/imFace/ee_15.png");
        }

        &.icon_16 {
            background-image: url("../images/imFace/ee_16.png");
        }

        &.icon_17 {
            background-image: url("../images/imFace/ee_17.png");
        }

        &.icon_18 {
            background-image: url("../images/imFace/ee_18.png");
        }

        &.icon_19 {
            background-image: url("../images/imFace/ee_19.png");
        }

        &.icon_20 {
            background-image: url("../images/imFace/ee_20.png");
        }

        &.icon_21 {
            background-image: url("../images/imFace/ee_21.png");
        }

        &.icon_22 {
            background-image: url("../images/imFace/ee_22.png");
        }

        &.icon_23 {
            background-image: url("../images/imFace/ee_23.png");
        }

        &.icon_24 {
            background-image: url("../images/imFace/ee_24.png");
        }

        &.icon_25 {
            background-image: url("../images/imFace/ee_25.png");
        }

        &.icon_26 {
            background-image: url("../images/imFace/ee_26.png");
        }

        &.icon_27 {
            background-image: url("../images/imFace/ee_27.png");
        }

        &.icon_28 {
            background-image: url("../images/imFace/ee_28.png");
        }

        &.icon_29 {
            background-image: url("../images/imFace/ee_29.png");
        }

        &.icon_30 {
            background-image: url("../images/imFace/ee_30.png");
        }

        &.icon_31 {
            background-image: url("../images/imFace/ee_31.png");
        }

        &.icon_32 {
            background-image: url("../images/imFace/ee_32.png");
        }

        &.icon_33 {
            background-image: url("../images/imFace/ee_33.png");
        }

        &.icon_34 {
            background-image: url("../images/imFace/ee_34.png");
        }

        &.icon_35 {
            background-image: url("../images/imFace/ee_35.png");
        }
    }
}

.link_block {
    display: block;
    width: 100%;
    height: 100%;
}

.no-data {
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    background-color: #fff;
}

.normal-back-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 0.88rem;
}

.normal-right-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 0.88rem;
}

.normal-right-wrap1 {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 1rem;
    height: 0.88rem;
}

.pr2em {
    padding-right: 2em;
}

.app-adv-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .app-adv-img {
        width: 100%;
        height: 100%;
    }

    .app-adv-skip {
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        background: rgba(0,0,0,0.3);
        width: 1rem;
        height: 1rem;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        font-size: 0.26rem;
        padding-top: 0.18rem;
        box-sizing: border-box;
    }
}
// 让antd-mobile的Toast布局垂直居中

.am-toast-notice {
    top: 50%;
    transform: translateY(-50%);
}

.am-button-ghost {
    color: #d23e3e;
    background-color: transparent;
    border: 1px solid #d23e3e;

    &.am-button-active {
        color: #fff;
        background-color: #d23e3e;
        border: 1px solid #d23e3e;
    }
}

.slider-decorator-0 .am-carousel-wrap-dot > span {
    background: #fff;
}

.slider-decorator-0 .am-carousel-wrap-dot.am-carousel-wrap-dot-active > span {
    background: #d23e3e;
}

.am-button-primary {
    background-color: #db4528;
    border: 1px solid #db4528;
}

.am-button-primary.am-button-active {
    background-color: #de4444;
}

.fix-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    font-size: 0.32rem;
    color: #323232;
    height: 1rem;
    line-height: 1rem;

    .fix-b-left {
        padding-left: 0.3rem;
        width: 50%;
    }

    .fix-b-right {
        width: 50%;
        text-align: center;
        color: #fff;
        background: #d23e3e;
    }
}

.p30 {
    padding: 0.3rem;
}
